<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Email List</title>
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <h1>LISTA EMAIL</h1>
        <div class="container">
            <ul>
                <li v-if="listaEmail.length === numeroIndirizzi" v-for="(email,indice) in listaEmail">
                    <h3>{{ indice+1 }}</h3>
                    <h2>{{ email }}</h2>
                </li>
            </ul>
        </div>
    </div>

    <!-- Script  -->
    <script src="js/script.js"></script>
</body>
</html>